includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php

    paths:
        - app
        - database
        - routes

    level: 6

    excludePaths:
        - database/factories/*
